kolejnosc wczytywania danych do sql, zeby nie bylo bledow
* galaxy
* planet
* trip type
* rocket
* employees
* trip
* trip_employyes
* adres + emergency 
* clients
* booking
* transaction
* cost

jesli chcesz zaladowac np dane do tabeli trip --> nie wystarczy wyrzucic danych z tej tabeli tylko ze wszytskich pod nia (przez wzgledu na klucze obce i polaczenia miedzy nimi - sql na to nie pozwala)

laczenie do serwera

In [33]:
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus

username = "team08"
password = quote_plus("te@mlob")  # koduje hasło bezpiecznie
host = "giniewicz.it"
port = 3306
database = "team08"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

wczytanie csv do tabeli

! jak wstawiasz, musisz najpier usunac dane z tabeli --> w sql DELETE FROM nazwa_tabeli

In [37]:
import pandas as pd


#tu zmieniasz sciezke do csv
csv_path = "C:/Users/User/Desktop/space_database/costs.csv"
df = pd.read_csv(csv_path)

# a tu nazwe tabeli
df.to_sql("cost", con=engine, if_exists="append", index=False)

# jak usunac dane z tabeli to w sql DELETE FROM nazw_tabeli
print("Dane zostały załadowane poprawnie.")

Dane zostały załadowane poprawnie.

jesli wam po tym kodzie wywali blad to
1. najpierw pusccie pierwszy kod z laczeniem do serwera -- pewnie sie ucial.
2. kolejna opcja, to w tabeli cos jest -- trzeba ja wyczyscic